
    
/*======== Work Flow ===========*/
.wf-root {
    height: 100vh;
    width: 100%;
    background: #181f6b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wf-parent {
    /* height: 150px; */
    display: flex;
    /* for middle portion */
    justify-content: center;
    align-items: center;
}
.wf-sub-parent {
    position: relative;
}

/*======== Top Part ========*/
.wf-parent.top {
    height: 200px;
}
/* Top-Left (tl) */
.wf-parent .wf-live-border {
    position: absolute;
    width: 29rem;
    height: 13rem;
    left: 15%;
    bottom: -11rem;
    border-left: 0.2rem dashed #ffc80b;
    border-bottom: 0.2rem dashed #ffc80b;
}
.wf-portion-tl .wf-img {
    padding-right: 5px;
    padding-left: 10px;
}
.wf-portion-tl .wf-text {
    color: #fff;
}

/* Top-Right (tr) */
.wf-parent .wf-study-border {
    position: absolute;
    width: 29rem;
    height: 12rem;
    right: 15%;
    bottom: -11rem;
    border-right: 0.2rem dashed #ffc80b;
    border-bottom: 0.2rem dashed #ffc80b;
}
.wf-portion-tr .wf-img {
    padding-right: 10px;
    padding-left: 5px;
}
.wf-portion-tr .wf-text {
    color: #fff;
    text-align: right;
}
.wf-portion-tr .wf-text ul {
    direction: rtl;
}


/*========== Bottom Part =======*/
.wf-parent.bottom {
    height: 200px;
}
/* Bottom-Left (bl) */
.wf-mock-border {
    position: absolute;
    width: 29rem;
    height: 13rem;
    left: 15%;
    bottom: 14rem;
    border-left: 0.2rem dashed #ffc80b;
    border-top: 0.2rem dashed #ffc80b;
}
.wf-portion-bl .wf-img {
    padding-right: 5px;
    padding-left: 10px;
    margin-top: 15px;
}
.wf-portion-bl .wf-text {
    color: #fff!important;
}

/* Bottom-Right (br) */
.wf-tutorial-border {
    position: absolute;
    width: 29rem;
    height: 13rem;
    right: 15%;
    bottom: 13rem;
    border-right: 0.2rem dashed #ffc80b;
    border-top: 0.2rem dashed #ffc80b;
}
.wf-portion-br .wf-img {
    padding-right: 10px;
    padding-left: 5px;
    margin-top: 15px;
}
.wf-portion-br .wf-text {
    color: #fff;
    text-align: right!important;
}
.wf-portion-br .wf-text ul {
    direction: rtl;
}

/*====== Middle Part =========*/
.wf-parent.middle {
    height: 200px;
}
.wf-middle-parent {
    position: relative;
    height: 250px;
    width: 30%;
    padding: 5px 0px;
    border-radius: 50%;
    border: 0.2rem dashed #ffc80b;
}
.wf-middle-parent .wf-img{
    width: 150px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 0 auto;
}
.wf-middle-parent .wf-text {
    color: #fff;
    margin: 0 auto;
    text-align: center!important;
}
.wf-middle-parent .wf-text h2{
    margin-top: 0px;
    margin-bottom: 5px;
}
.wf-middle-parent .wf-text ul {
    list-style: none;
}



/* ============= Media Query ==============*/
/* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 250px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
        /* .wf-root {
            display: flex; 
            justify-content: center;
        } */
        .wf-parent {
           display: flex;
           justify-content: center;
           flex-direction: column;
        }
        .wf-parent .wf-sub-parent {
            
        }
        .wf-parent .wf-sub-parent .wf-portion-tl {
            
        }
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 250px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            /* border-bottom: 0.2rem dashed #ffc80b; */
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            /* border-bottom: 0.2rem dashed #ffc80b; */
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            /* border-bottom: 0.2rem dashed #ffc80b; */
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            /* border-bottom: 0.2rem dashed #ffc80b; */
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            /* border-bottom: 0.2rem dashed #ffc80b; */
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            /* border-bottom: 0.2rem dashed #ffc80b; */
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }

    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 250px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 250px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .wf-parent.top {
            height: 400px!important;
        }
        .wf-parent.middle {
            height: 150px!important;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-parent.bottom {
            height: 300px!important;
        }
        .wf-sub-parent {
            width: 100%;
            height: 50%;
        }
        .wf-sub-parent span {
            display: none;
        }
        .wf-portion-tl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-tr {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-middle-parent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .wf-portion-bl {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 0.2rem dashed #ffc80b;
        }
        .wf-portion-br .wf-img { 
            margin-top: 0!important;
        }
        .wf-img {
            height: 50px!important;
            width: 30%!important;
        }
        .wf-img img{ 
            max-width: 90px!important;
        }
        .wf-text {
            margin-top: 10px!important;
        }
        .wf-text h2 {
            font-size: 16px;
            margin-top: 0!important;
            margin-bottom: 5!important;
        }
        .wf-middle-parent {
            border: none;
        }
    }
    
/* ============= Media Query ==============*/