body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .work-flow {
    background: #181f6b;
  }
  .work-flow .section-heading{
    color: #ffc80b;
  }
  .work-flow h3,p {
    color: #fff;
  }
  .full_border {
    min-height: 500px;
    width: 100%;
  }
  .posons::after {
    content: "";
    display: block;
    clear: both;
  }
  .posons img {
    height: 120px;
    width: 120px;
  }
  .middle_posons img {
    height: 100px;
    width: 100px;
  }
  /* Top-Left  & Top-Right*/
  .side_posons_one {
    padding-bottom: 10px;
  }
  .side_posons_tow {
    padding-bottom: 10px;
  }
  .img_one {
    float: left;
  }
  .img_tow {
    float: right;
  }
  .ul_li_top_right {
    float: right;
  }
  .list-none {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  .d-layer-above {
    position: relative;
    z-index: 10;
  }
  .posons h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    color: #fff;
  }
  .middle_posons::after {
    content: "";
    display: block;
    clear: both;
  }
  .ul_li_middle {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .min-vw-25{
    width: 30%;
  }
  .side_posons_middle{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .icon_midddle{
    height: 100px;
  }
  .middle-img{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .side_posons_middle .size_def{
    height: 250px;
    width: 250px;
    border: 0.2rem dashed #ffc80b;
    border-radius: 50%;
  }
  
  .border_box_one {
    margin-top: 20px!important;
    height: 140px;
    width: 345px;
    position: relative;
    top: 150px;
    left: 100px;
    border-left: 0.2rem dashed #ffc80b;
    border-bottom: 0.2rem dashed #ffc80b;
  }
  .border_box_tow {
    height: 140px;
    width: 370px;
    position: relative;
    top: 10px;
    left: 723px;
    border-right: 0.2rem dashed #ffc80b;
    border-bottom: 0.2rem dashed #ffc80b;
  }
  .border_box_three {
    margin-top: 20px!important;
    height: 140px;
    width: 345px;
    position: relative;
    top: 10px;
    left: 100px;
    margin-top: 10px;
    border-left: 0.2rem dashed #ffc80b;
    border-top: 0.2rem dashed #ffc80b;
  }
  .border_box_four {
    height: 140px;
    width: 370px;
    position: relative;
    top: -140px;
    left: 723px;
    margin-top: 10px;
    border-right: 0.2rem dashed #ffc80b;
    border-top: 0.2rem dashed #ffc80b;
  }
  
  /* --------------##################################------------ */
  
  /* Desktops and laptops ----------- */
  @media only screen and (max-width: 1224px) {
    .border_box_one{
      display: none;
    }
    .border_box_tow{
      display: none;
    }
    .border_box_three{
      display: none;
    }
    .border_box_four{
      display: none;
    }
    .side_posons_tow .posons {
      display: flex;
    }
    .side_posons_tow .posons .list-none{
      text-align: left;
    }
    
  }
  